@use "styles/variables.scss" as *;

.contributed {
  &_panel {
    position: relative;

    .total {
      position: absolute;
      top: 8px;
      right: 0;
    }
    .user_review_card {
      max-width: 900px;
    }
  }

  &_tab {
    margin-top: 26px;
    margin-bottom: 40px;
  }

  @media screen and (max-width: $mobile) {
    &_panel {
      .total {
        right: unset;
        top: 45px;
        left: 0;
        font-size: $text-xs;
        font-weight: $font-semi-bold;
      }
    }
    &_tab {
      margin-bottom: 50px;
    }
  }
}
