@import "styles/variables.scss";

.badge {
  padding: 8px 24px;
  box-sizing: border-box;
  min-width: 60px;
  width: fit-content;
  border: 1px solid $bg-400;
  color: $bg-400;
  font-weight: $font-light;
  font-size: $text-md;
  line-height: 1;
  border-radius: 40px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &.selected {
    border: 2px solid $bg-600;
    color: $bg-600;
    font-weight: $font-semi-bold;
  }
}

.no_outlined {
  border: none;
  color: $bg-700;
  background-color: $bg-70;
  font-weight: $font-normal;
}

.small {
  padding: 0px 12px;
  font-size: $text-sm;
}
