@import "styles/variables";

.menu_item,
.user_point,
.logout {
  display: flex;
  align-items: center;
  gap: 20px;

  .point {
    color: $primary-500;
    font-weight: $font-bold;
  }

  &.border_bottom {
    padding-bottom: 16px;
    border-bottom: 1px solid $bg-100;
  }
}

.user_point {
  margin-top: 20px;
}

.switch_account_button {
  display: none !important;
  align-items: center;
  gap: 20px;

  &.border_bottom {
    padding-bottom: 16px;
    border-bottom: 1px solid $bg-100;
  }
}

.logout {
  color: $primary-500;
}

@media screen and (max-width: $mobile) {
  .switch_account_button {
    display: flex !important;
  }
}
